// .mybookings-page {
//   min-height: calc(100vh - 70px - 170px);
//   align-items: center;
//   display: flex;
//   flex-direction: column;
//   width: 100vw;
//   margin-right: 0px;
//   margin-left: 0px;
//   padding: 0px;
// }

// .mybookings-no{
//   width: 210px;
//   vertical-align: center;
//   margin: 20px;
// }

// .each-booking {
//   width: 100vw;
//   display: grid;
//   grid-template-columns: 3fr 1fr 1fr;
//   grid-template-rows: 1fr 1fr;
// }

.booking-big-picture1 {
  position: relative;
  text-align: center;
}

.bookingpicture1 {
  background-size: cover;
  background-position: center;
  width: 50vw;
  height: 400px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.h1bookingname {
  position: absolute;
  top: 0px;
  left: 30px;
  color: white;
}

.test {
    margin-bottom: 50px;
    // background-color: #ffffff;
    border-radius: 5px;
    box-shadow: 0 0 15px #969696;
    overflow: hidden;
}

.nopaddingbooking {
  padding: 0;
  margin: 0;
}

.bookingpicture2 {
  background-size: cover;
  background-position: center;
  width: 25vw;
  height: 200px;
}

.bookingpicture3 {
  background-size: cover;
  background-position: center;
  width: 25vw;
  height: 200px;
  border-top-right-radius: 5px;
}

.booking-pictures-port-infos {
  height: 200px;
  width: 50vw;
  background-color: #ffffff;
  border-bottom-right-radius: 5px;
}

.booking-pictures-port-infos h2 {
  font-size: 20px;
  padding-top: 5px;
}

.booking-pictures-port-infos p {
  font-size: 13px;
  padding-left: 5px;
}

.nopadding {
  padding: 0 !important;
}

// .owernbooking {
//   display: flex;
//   align-items: center;
//   justify-content: center;
//   flex-direction: column;
// }

.centownbooking {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: space-around;
}
