.head-img {
  // overflow: hidden;
  text-align: center;
}
.head-img img {
  // width: 800px;
  height: 500px;
  padding-bottom: 50px;
  // box-shadow: 5px 2px 2px #515456;
}

h1 {
  justify-content: center;
}
.btn-book {
  text-align: center;
  padding: 50px;
}

.container-show {
  display: flex;
  margin-top: 35px;
  justify-content: space-between;
  height: 400px;
}

.yacht-info {
  width: 400px;
  background-color: white;
  box-shadow: 0 0 15px rgba(150,150,150,1);
  border-radius: 5px;
  text-align: center;
  overflow: hidden;
}

.yacht-img-show {
  width: 600px;
  border-radius: 5px;
  overflow: hidden;
}

.yacht-img-show img {
  width: 100%;
  height: 100%;
}

.yacht-info h1 {
  font-size: 40px;
  margin: 0;
  padding: 10px;
  background-color: $dark-blue ;
  color: white;
}

.yacht-info h2 {
  font-size: 25px;
  color: $dark-grey;
}

.yacht-info li {
  font-size: 16px;
  color: $dark-grey;
}

.yacht-info ul {
  margin-top: 20px;
}
