<%= simple_form_for [@yacht, @booking] do |f| %>
  <%= f.input :start_date %>
  <%= f.input :end_date %>
  <div class="create-yacht-action">
    <%= f.submit "Book", class: "btn btn-validation" %>
  </div>
<% end %>
