<footer>

  <div class="grid grid-width">
    <div class="logo">
      <div><%= image_tag "logowhite.png", height: 200 %></div>
    </div>
    <div class="contact">
      <p> Thanks for visiting the website</p>
      <p>Contact</p>
        <i class="fas fa-phone">&nbsp; 01 23 45 67 89</i>
        <br>
        <i class="fas fa-map-marked-alt">&nbsp; 19 rue de la Capitainerie 06600 Antibes</i>
        <i class="fas fa-at">&nbsp; contact@myphocea.com</i>
    </div>
    <div class="social">
      <p>Follow us</p>
      <div class="social-network">
        <i class="fab fa-facebook"></i>
        <i class="fab fa-twitter"></i>
        <i class="fab fa-instagram"></i>
        <i class="fab fa-google-plus-square"></i>
        <i class="fab fa-linkedin"></i>
      </div>
    </div>
  </div>
</footer>
