<footer>

  <div class="grid grid-width">
    <div class="logo">
      <div><%= image_tag "logowhite.png", height: 150 %></div>
    </div>
    <div class="contact">
<!--       <p>Available in the best ports in the world</p> -->
      <h3>Contact</h3>
      <p><i class="fas fa-phone">&nbsp;</i> 01 23 45 67 89</p>
      <p><i class="fas fa-map-marked-alt">&nbsp;</i>19 rue de la Capitainerie 06600 Antibes</p>
      <p><i class="fas fa-at">&nbsp;</i>contact@myphocea.com</p>
    </div>
    <div class="social">
      <p>Follow us</p>
      <div class="social-network">
        <a href="https://www.facebook.com/"><i class="fab fa-facebook"></i></a>
        <a href="https://www.twitter.com/"><i class="fab fa-twitter"></i></a>
        <a href="https://www.instagram.com/"><i class="fab fa-instagram"></i></a>
        <a href="https://www.linkedin.com/"><i class="fab fa-linkedin"></i></a>
      </div>
    </div>
  </div>
</footer>
