<footer>

  <div class="grid grid-width">
    <div class="logo">
      <div><%= image_tag "logowhite.png", height: 200 %></div>
    </div>
    <div class="contact">
<!--       <p>Available in the best ports in the world</p> -->
      <p>Contact</p>
      <ul class="contact-list">
        <li class="list-inline-item"><i class="fas fa-phone">&nbsp; 01 23 45 67 89</i></li>
        <li class="list-inline-item"><i class="fas fa-map-marked-alt">&nbsp; 19 rue de la Capitainerie 06600 Antibes</i></li>
        <li class="list-inline-item"><i class="fas fa-at">&nbsp; contact@myphocea.com</i></li>
      </ul>
    </div>
    <div class="social">
      <p>Follow us</p>
      <div class="social-network">
        <i class="fab fa-facebook"></i>
        <i class="fab fa-twitter"></i>
        <i class="fab fa-instagram"></i>
        <i class="fab fa-linkedin"></i>
      </div>
    </div>
  </div>
</footer>
