<div class="banner">
  <div class="container">
    <h1>Wanna live like a boss ?</h1>
    <p>Check out the best yachts available for your upcoming holidays</p>
    <a class="btn btn-validation" href="#">SIGN IN</a>
    <a class="btn btn-back" href="#">BACK</a>
    <a class="btn btn-delete" href="#">DELETE</a>
  </div>
</div>
