  <div class="banner">
  <div class="container">
    <h1>Change your yacht as you change your mind</h1>
    <p>Lease yours somewhere. Rent one anywhere.</p>
    <a class="btn btn-validation" href='/users/sign_up'>SIGN UP</a>
    <a class="btn btn-back" href='/users/sign_in'>SIGN IN</a>
<!--     <a class="btn btn-delete" href="#">DELETE</a> -->
  </div>
</div>
