<div class="banner">
  <div class="container">
    <h1 class="text-center">Change your yacht as you change your mind</h1>
    <p class="text-center">Lease yours somewhere. Rent one anywhere.</p>
  </div>
  <%= render 'yachts/searchform' %>
</div>
