<div class="container">
  <h2 class="text-center title-form">Add a new yacht</h2>
  <%= render 'form' %>
 <div class="create-yacht-action">
  <%= link_to "Back", root_path, class: "btn btn-back" %>
  <%= f.submit "Add a yacht", class: "btn btn-validation" %>
</div>
</div>
