.create-yacht-action {
  text-align: center;

}

form a {
  margin: 10px;
}

.container form {
  width: 500px;
  margin: 0 auto;
}

.form-control {
  border-radius: 5px;
}

.title-form, label {
  color: $dark-blue;
}

.title-form {
  margin-top: 10px;
}


